
* {
    margin: 0;
    padding: 0;
    letter-spacing: 0.1px;
    font-family: Calibri;
    font-size: 14px;
  }
input{
    border-bottom: 1px solid #000; /* Bottom border style */
    border-top: none; /* Hide top border */
    border-left: none; /* Hide left border */
    border-right: none; /* Hide right border */
}
.city_assessor_table input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.20em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  }
input[type="checkbox"] {
    vertical-align: middle;
}
/* MY CODE */
.container{
    margin: 0 auto !important; 
    width: 825px !important; 
}
.first_page{
    padding-right: 25px;
}
.header table tr td h4{
    margin: 0;
    padding: 0;
}
.header_title h4{
    width: 150px;
    text-align: center;
    margin-left: 60px  !important;
    margin-right: 80px !important;
}
.header_date{
    width: 150px;
    text-align: start;
    padding-left: 15px;
}
.header_date_code{
    font-weight: bold;
}
.name_owner h5, .name_rep h5{
    white-space: nowrap;
}
.control_no_input input{
    margin-left: 10px;
}
.name_owner h5, .date h5{
    margin-right: 10px;
    text-align: end;
}
.name_owner_input input, .name_rep_input input{
    width: 280px;
    margin-right: 0.2px;
}
.contact_no{
    text-wrap: nowrap;
}
.agreement{
    margin-top: 20px;
}
.agreement p{
    font-size: 12px;
}
.signature h5{
    text-align: center;
}
.signature{
    display: flex;
    justify-content: end;
}
/* THIS IS THE REQUES */
.request_type_table{
    border: 1px solid black;
    padding-left: 70px;
    white-space: nowrap;
    width: 100%;
}
.request_type_table input{
    margin-right: 15px;
    width: 100px;
}
.others_row{
    white-space: nowrap;
}
.others_input input{
    width: 400px;
}
.cert_property_table, .city_assessor h5{
    margin-top: 5px;
}
.cert_property_table{
    border: 1px solid black;
    width: 100%;
}
.cert_property_table input{
    width: 100%;
}
.name_fname, .name_spouse_fname{
    padding-left: 80px;
}
.name_spouse_row h5{
    text-wrap: nowrap;
}
.name_fname, 
.name_mname,
.name_lname,
.name_spouse_fname,
.name_spouse_mname,
.name_spouse_lname input{
    width: 180px;
}
/* CITY ASSESSOR */
.city_assessor_table h5{
    margin-right: 30px;
}
.ndec, .ra{
    width: 70px;
}
.cancel{
    width: 120px;
}
.city_assessor_table{
    margin-top: 5px;
    border: 1px solid black;
    width: 100%;
}
.city_assessor_note{
    margin-top: 5px;
}
.city_assessor_table h5{
    white-space: nowrap;
}
.owner input, .location input, .pin input, .tax input, .remarks input{
    width: 100%;
}
.or_number input, .or_date input, .declare_fee input, .inspect_fee input{
    width: 80px;
}

/* THIS IS THE SECOND PAGE */
.second_page{
    border: 2px solid black;
    padding-left: 2px;
}
.second_page h5, .second_page h6, .second_page p, .second_page span{
    font-size: 9px !important;
}
.second_page h5{
    padding-top: 4px;
    text-decoration: underline;
}
.second_page h6{
    padding: 4px 4px 4px 10px;
}
.a_req_1 p, .a_req_2 p, .sub p, .a_build p{
    display: inline;
}
.main_sub p{
    padding-left: 30px;
}
.sub p{
    padding-left: 40px;
}
.d_2_req{
    padding-left: 15px;
}
.second_page{
    line-height: 0.8;
}
.second_page input[type="checkbox"], h5, h6 {
    margin-left: 5px;
}
.span_note{
    font-weight: bold;
    margin-left: 20px;
}
.span_note_details{
    font-style: italic;
}
.req_verified_by{
    text-decoration: none !important;
}