body {
    background: white; 
    text-align: justify;
    font-size: 10px;
    margin: 0 !important;
}
.sheet {
    padding-top: 10mm;
    padding-bottom: 10mm;
    padding-left: 10mm;
    padding-right: 20mm;
}

/* MY CODE */
.container{
    margin: 0 auto !important; /* Add !important if needed */
    width: 825px !important; /* Add !important if needed */
}
input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black; /* This will leave only the bottom border */
    width: 150px;
}
/* THIS IS FOR THE HEADER */
.control_number .title{
    margin: 0;
    padding: 0;
    
}

/* REQUEST TYPE */
.req-type-table{
    padding-right: 100px;
    padding-left: 100px;  
    border: 1px solid black; 
}
.req-type-table td{
   margin: 0;
   padding: 0;
}
.req-type-table input{
    margin-right: 10px;
}
.req-type-table td{
    margin: 0;
    padding: 0;
}
.req-type-table input{
    width: 70px;
}
.others p{
    display: inline; margin: 0;
}
.others input{
    width: 350px;
}
/* CERTIFICATE OF PROPERTY HOLD */
.certificate-property-hold{
    margin: 0;
    padding: 0;
    border: 1px solid black; 
}
.certificate-property-hold h6, p, tr, td, p, input, div{
    margin: 0;
    padding: 0;
}
.certificate-property-title{
    margin-top: 5px;
}
.certificate-property-hold .name-label, .name-spouse-label, .address-label{
    padding-bottom: 25px;
    white-space: nowrap;
}
.name-property-hold-input input{
    margin-top: 10px;
    margin-left: 50px;
    width: 510px;
}
.name-property-hold-name{
    display: flex;
    padding-left: 10px;
}
.name-property-hold-name p{
    padding-left: 40px;
    padding-right: 80px;
}
/* THIS IS FOR SPOUSE */
.name-spouse-input input{ 
    margin-top: 10px;
    margin-left: 50px;
    width: 510px;
}
.name-spouse-name{
    display: flex;
    padding-left: 10px;
}
.name-spouse-name p{
    padding-left: 40px;
    padding-right: 80px;
}
/* THIS IS FOR ADDRESS */
.address-input input{ 
    margin-top: 10px;
    margin-left: 50px;
    width: 510px;
}
/* THIS IS FOR CITY ASSESSOR */
.city-assesor-form{
    border: 1px solid black                                                    ;
}
.city-assesor-form tr, td, h6, input{
    margin: 0;
    padding: 0;
}
.city-assesor-note{
    margin-top: 5px;
}
.city-assesor-form h5, h6{
    margin-right: 55px;
}
.owner, .location, .pin, .tax, .remarks, label{
    margin-right: 50px;
}
.city-assesor-form input[type="checkbox"]{
    width: 20px;
}
.owner, .location, .pin, .tax, .remarks, input{
    width: 100%;
}
.date-inspect-input input{
    width: 100px;
}
.declare-fee-input input, .cancel-fee-input input{
    width: 70px;
}
.or-number-input input, .or-date-input input{
    width: 75px;
}

