body {
    background: white; 
    text-align: justify;
}

/* MY CODE */
.container{
    margin: 0 auto !important; /* Add !important if needed */
    width: 825px !important; 
}
.title{
    display: flex;
    justify-content: center;
}
.poblacion, .tax-dec-no, .name,.name-request, .city-assesor-name, .city-assesor-title{
    font-weight: bold;
}
.content{
    line-height: 30px;
}
td{
    margin-right:200px;
}
.table-content {
    width: 100%;
    font-size: 10px;
    text-align: center;
}

.table-content th, .table-content td {
    /* width: 100%; */
    vertical-align: top; /* Align content at the top */
}
th{
    border-bottom: 1px solid black;
}
td{
    margin-right:200px;
}
