*{
    font-size: 12px;
    font-family: Calibri;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
input{
    border-bottom: 1px solid #000; /* Bottom border style */
    border-top: none; /* Hide top border */
    border-left: none; /* Hide left border */
    border-right: none; /* Hide right border */
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
.container{
    margin: 0 auto !important; 
    width: 825px !important; 
}
.sheet{
    padding-left: 15px;
    padding-right: 40px;
    padding-top: 45px;
}
.header_1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}
.header_2, .update_code{
    display: flex;
    font-weight: bold;
}
.update_code input{
    width: 30px;
}
.update_code p{
    margin-left: 220px;
}
.arp_no{
    min-width: 300px;
    max-width: 300px;
}
.first_table td{
    padding: 0;
}
.pin, .pin_no, .pin_year, .pin_empty, .land_pin_no, .land_owner_input,
.build_pin_no, .build_b01{
    min-width: 50px;
    text-align: center;
    font-weight: bold;
}
.pin{
    text-align: start;
    font-weight: lighter;
}
.owner{
    vertical-align: center;
    margin-left: 100px;
}
.address td, .contact_no td{
    border-right: none;
}
.address_input{
    border-left: none !important;
}
.address_input p{
    width: 200px;
}
.land_owner{
    display: flex;
}
.land_owner_input{
    margin-left: 20px;
    width: 200px;
    line-height: 1;
}