* {
  font-size: 12px;
  line-height: 0.5;
}
body {
  background: white;
}

/* MY CODE */

.header_1 {
  display: flex;
  justify-content: space-between;
}
.header_2,
.update_code {
  display: flex;
  justify-content: space-between;
}

.update_code {
  align-items: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table td,
tr {
  padding: 5px;
}

/**/
.sketch-label {
  position: absolute;
  top: 4px;
  left: 4px;
}
.sketch-cell {
  position: relative;
  padding-left: 50px;
  padding-bottom: 50px;
  text-align: center;
  justify-content: center;
}
.fourth_tbody {
  text-align: center;
}

.header_3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align text to the start */
}

.header_3 p {
  flex: 1;
  font-weight: bold;
  text-align: start; /* Align text to the start */
}

.apraised_by {
  display: flex;
  text-align: center;
}
.apraised_by div {
  flex: 1;
}

.grid-container {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 equal-width columns */
  gap: 10px; /* Gap between grid items */
}
.grid-item {
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.label_size {
  font-size: 9px;
}
.center-text-input {
  text-align: center;
}

.memoranda {
  font-weight: bold;
  margin-bottom: 20px;
}

.memoranda p {
  margin: 5px 0;
  font-weight: lighter;
  word-wrap: break-word;
  text-decoration: underline;
}

/* Updated CSS */
.memoranda b {
  text-decoration: none; /* Remove underline for <b> tags inside .memoranda */
}

.third-table {
  border-collapse: collapse;
}

.third-table td {
  padding-bottom: 20px;
}

.for-table td {
  padding: 6px; /* Adjust padding as needed */
}
.fif-table td {
  padding: 6px; /* Adjust padding as needed */
}
.six-table td {
  padding: 6px; /* Adjust padding as needed */
}
.sev-table td {
  padding: 6px; /* Adjust padding as needed */
}

.memoranda {
  margin-top: 5px;
  padding: 5px;  
}

.memoranda p {
  line-height: 1.5;
  text-align: justify;
}

