*{
    font-size: 12px;
    font-family: Calibri;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
input{
    border-bottom: 1px solid #000; /* Bottom border style */
    border-top: none; /* Hide top border */
    border-left: none; /* Hide left border */
    border-right: none; /* Hide right border */
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
}
.container{
    margin: 0 auto !important; 
    width: 825px !important; 
}
.sheet{
    padding-left: 15px;
    padding-right: 40px;
    padding-top: 45px;
}
.header_1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}
.header_2, .update_code{
    display: flex;
    font-weight: bold;
}
.update_code input{
    width: 30px;
}
.update_code p{
    margin-left: 220px;
}
.arp_no{
    min-width: 300px;
    max-width: 300px;
}
.first_table td{
    padding: 0;
}
.pin, .pin_no, .pin_year, .pin_empty, .land_pin_no, .land_owner_input,
.build_pin_no, .build_b01, .owner, .address_input{
    min-width: 50px;
    text-align: center;
    font-weight: bold;
}
.pin{
    min-width: 65px;
    max-width: 65px;
    text-align: start;
    font-weight: lighter;
}
.owner{
    vertical-align: center;
    margin-left: 100px;
}
.address td, .contact_no td{
    border-right: none;
}
.address_input{
    border-left: none !important;
}
.address_input p{
    width: 200px;
}
.land_owner{
    display: flex;
}
.land_owner_input{
    margin-left: 20px;
    width: 200px;
    line-height: 1;
}
.property_loc_title, .no_street, .no_street_input,
.prov_city_input, .pump_equipment, .property_assessment, 
.general_desc_input, .property_assessment_1_input,
.aquisition_input, .property_assess{
    font-weight: bold;
}
.no_street{
    min-width: 120px;
    max-width: 120px;
}
.no_street_input{
    padding: 15px;
}
.property_loc_title_table tr td, .property_assessment_table tr td{
    padding: 0;
}
.machine_desc{
    min-width: 120px;
    max-width: 120px;
}
.economic_life{
    min-width: 152px;
    max-width: 152px;
}
.estimated, .remaining{
    min-width: 76px;
    max-width: 76px;
}
.brand_model,.classification, .date_install, .date_operation{
    min-width: 65px;
    max-width: 65px;
}
.capacity{
    min-width: 63px;
    max-width: 63px;
}
.condition_acquired{
    min-width: 60px;
    max-width: 60px;
}
.machine_desc, .brand_model, .capacity,
.condition_acquired, .economic_life,
.classification, .date_install, .date_operation,
.estimated, .remaining, .pump_equipment, .general_desc,
.property_assessment_1, .aquisition, .conversion_factor,
.price_index, .rcn, .depreciation, .market_val, 
.general_desc_input, .property_assessment_1_input,
.aquisition_input, .property_assess_table .pa_classification,
.property_assess_table .actual_use, .property_assess_table .pa_market_val,
.property_assess_table .assess_level, .property_assess_table .assessed_value{
    text-align: center;
}
.pump_equipment, .property_assess_table tr td, .general_desc, 
.depreciation{
    vertical-align: middle;
}
.pump_equipment_td, .property_assessment_table tr td, .property_assess_table tr td{
    height: 16.36px;
    padding: 0;
}
.property_assessment{
    min-width: 200px;
    max-width: 200px;
}
.property_assessment_empty{
    min-width: 40px;
}
/* .general_desc{
    min-width: 200px;
    max-width: 192px;
} */
.property_assessment_1{
    min-width: 55px;
    max-width: 55px;
}
.aquisition{
    min-width: 50px;
    max-width: 50px;
}
.conversion_factor, .price_index{
    min-width: 60px;
    max-width: 60px;
}
.rcn, .depreciation, .market_val{
    min-width: 53px;
    max-width: 53px;
}
.general_desc_input, .property_assessment_1_input,
.aquisition_input{
    font-size: 10px;
}
.property_assess_table .pa_classification,
.property_assess_table .pa_classification_input{
    min-width: 80px;
    max-width: 80px;
}
.property_assess_table .actual_use, 
.property_assess_table .actual_use_input{
    min-width: 55px;
    max-width: 55px;
}
.property_assess_table .market_val,
.property_assess_table .market_val_input{
    min-width: 140px;
    max-width: 140px;
}
.property_assess_table .assess_level,
.property_assess_table .assess_level_input{
    min-width: 28px;
    max-width: 28px;
}
.property_assess_table .assessed_value,
.property_assess_table .assessed_value_input{
    min-width: 55px;
    max-width: 55px;
}