* {
  font-size: 12px;
  line-height: 0.5;
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
}
body {
  background: white;
}

input {
  border-bottom: 1px solid #000; /* Bottom border style */
  border-top: none; /* Hide top border */
  border-left: none; /* Hide left border */
  border-right: none; /* Hide right border */
}

/* MY CODE */
.container {
  margin: 0 auto !important; /* Add !important if needed */
  width: 825px !important; /* Add !important if needed */
}
.header_1 {
  display: flex;
  justify-content: space-between;
}
.header_2,
.update_code {
  display: flex;
  justify-content: space-between;
}
.update_code input {
  width: 50px;
  margin-right: 50px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.update_code {
  align-items: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table td,
tr {
  padding: 8px;
}


tr td input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: transparent !important;
  border: 0px;
  font-size: 10px;
}

/*PIN Line*/
.grid-container {
  display: grid;
  grid-template-columns: 4fr 7fr;
}


.header_3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align text to the start */
}

.header_3 p {
  flex: 1;
  font-weight: bold;
  text-align: start; /* Align text to the start */
}

.memoranda {
  margin-top: 20px;
  padding: 10px;  
}

.memoranda p {
  line-height: 1.5;
  text-align: justify;
}

.memoranda b {
  font-weight: bold;
}

.building-sketch-text {
  vertical-align: top;
  text-align: left;
}

.first_table img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  padding-top: 50px;
}
span{
  font-weight: bold;
}
.text-centered{
  text-align: center;
}
