*{
  font-size: 12px;
}

.tax-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 80px;
}

.content {
  border: solid black 1px;
  padding-bottom: 25px;
}

.line1 {
  display: flex;
  justify-content: space-between;
  padding: 0px 3px 0px 3px;
}
.line2 {
  padding: 5px 3px 10px 3px;
}

.line3 {
  padding: 0px 3px 10px 3px;
}

.line4 {
  padding: 0px 3px 0px 3px;
}

.line5 {
  padding: 0px 3px 0px 3px;
}

.line6 {
  padding: 0px 3px 0px 3px;
}

.line7 {
  padding: 0px 3px 10px 3px;
}
.line8 {
  padding: 0px 3px 10px 3px;
}
.line9 {
  padding: 0px 3px 0px 3px;
}

.location {
  width: 100%;
  padding: 5px 3px 10px 3px;
}

.No {
  width: 450px;
}

.right {
  text-align: right;
}

.boundaries {
  padding-left: 50px;
  width: 100%;
}

.property {
  padding-left: 50px;
  width: 100%;
}

.inner-table {
  border: solid black 1px;
  margin: 10px;
}

.assess {
  border-collapse: separate;
  border-spacing: 10px; /* Adjust this value to change the space between columns */
}

.assess td {
  border-bottom: 1px solid black;
  padding: 4px; /* Adding padding for better visualization */
  margin: 1px; /* Adding margin to each cell */
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

.approve{
  width: 100%;
}

.memo{
  width: 100%;
}

.traditional-vertical-writing {
  writing-mode: vertical-rl;
  position: absolute;
  left: 15px; /* Adjust the distance from the left side as needed */
  top: 50%; /* Adjust the vertical position as needed */
  transform: translateY(-50%) rotate(-180deg); /* Rotate and align vertically */
  white-space: nowrap; /* Prevent wrapping */
}

.sdth_table{
  width: 100%;
}

.foot {
  display: grid; /* Use CSS Grid */
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  gap: 20px; /* Gap between columns */
}

.memo {
  font-weight: bold;
  width: 100%;
  border-collapse: collapse;
}

.memo td {
  word-wrap: break-word;
  padding: 5px;
}


